<%_ bridges = api.bridges -%>
<%_ names = bridges.map(b => b.name) -%>
<div class="ui stackable grid">
  <div class="row">
    <div class="four wide column">
      <div class="ui fluid vertical pointing menu">
        <%_ bridges.forEach(bridge => { -%>
        <a href="#" class="item" data-bridge="<%= bridge.name %>"><i class="laptop code icon"></i> <%= bridge.name.toUpperCase() %></a>
        <%_ }) -%>
      </div>
    </div>
    <div class="twelve wide column">
      <%_ bridges.forEach(bridge => { -%>
      <div class="ui form bridge <%= bridge.name %>" data-bridge="<%= bridge.name %>" style="display: none;">
        <div class="ui two column stackable grid">
          <div class="column">
            <%_ Object.keys(bridge.stat).forEach(stat => { -%>
            <div class="two fields">
              <div class="field"><label><%= _(bridge.stat[stat].label) %></label></div>
              <div class="field"><input type="text" value="<%- bridge.stat[stat].value %>" data-key="<%= stat %>" readonly></div>
            </div>
            <%_ }) -%>
          </div>
          <div class="column">
            <div class="two fields">
              <div class="field"><label><%= _('Archived logs') %></label></div>
              <div class="field">
                <select class="ui dropdown" data-log="<%= bridge.name %>" data-title="<%= _('Bridge <span class="ui info text">%NAME%</span> log %LOG%') %>">
                  <option value=""><%= _('- Select log -') %></option>
                  <%_ bridge.logs.forEach(log => { -%>
                  <option value="<%= log.seq %>"><%= log.name %></option>
                  <%_ }) -%>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label><%= _('Logs') %></label>
          <textarea class="log <%= bridge.name %>" rows="20" readonly></textarea>
        </div>
      </div>
      <%_ }) -%>
    </div>
  </div>
</div>
<%_ items = JSON.stringify(names, null, 4) -%>
<%_ script.create('JQuery')
  .addInitializer(`
$.bridge.init(${items});
$('a[data-bridge]').on('click', function(e) {
    e.preventDefault();
    const a = $(this);
    a.siblings('a').removeClass('active');
    a.addClass('active');
    $(\`.ui.form.bridge\`).hide();
    $(\`.ui.form.bridge.\${a.data('bridge')}\`).show();
}).filter(':first').click();
$('.ui.dropdown').dropdown();
`) -%>