<div class="ui top attached stackable tabular menu">
  <a class="item" data-tab="status"><%= _('Status') %></a>
  <a class="item" data-tab="activity"><%= _('Activity') %></a>
  <a class="item" data-tab="queue"><%= _('Queue') %> <span class="ui hidden tiny label"></span></a>
  <%_ if (api.bridges.length) { -%>
  <a class="item" data-tab="bridge"><%= _('Bridge') %> <span class="ui tiny label"><%= api.bridges.length %></span></a>
  <%_ } -%>
  <a class="item" data-tab="error"><%= _('Error') %> <span class="ui hidden tiny label"></span></a>
</div>
<div class="ui bottom attached tab segment" data-tab="status">
<%- include('status') -%>
</div>
<div class="ui bottom attached tab segment" data-tab="activity">
<%- include('activity') -%>
</div>
<div class="ui bottom attached tab segment" data-tab="queue">
<%- include('queue') -%>
</div>
<%- include('bridgehandler') -%>
<%_ if (api.bridges.length) { -%>
<div class="ui bottom attached tab segment" data-tab="bridge">
<%- include('bridge') -%>
</div>
<%_ } -%>
<div class="ui bottom attached tab segment" data-tab="error">
<%- include('error') -%>
</div>
<%- include('ticker') -%>
<%- include('util') -%>
<%_ script.create('JQuery')
  .useDependencies(['SocketIO'])
  .add(`
$.uiCon = {
    connected: false,
    data: ${s(socket, 1)},
    init() {
        const self = this;
        self.socket = io.connect(self.data.url, self.data.options);
        self.socket
            .on('connect', function() {
                self.connected = true;
                console.log('Socket connected');
                if (self.restarted) {
                    window.location.reload();
                }
            })
            .on('disconnect', function() {
                self.connected = false;
                console.log('Socket disconnected');
            })
            .on('activity', function(data) {
                if (data && data.time && Array.isArray(data.logs)) {
                    for (const message of data.logs) {
                        $.activity.add({time: data.time, message});
                    }
                }
            })
            .on('log', function(data) {
                if (data && data.bridge && data.time && Array.isArray(data.logs)) {
                    for (const message of data.logs) {
                        $.bridge.addLog(data.bridge, {time: data.time, message});
                    }
                }
            })
            .on('queue', function() {
                $.queue.reload();
                $.uiRefresh();
            })
            .on('error', function() {
                $.error.reload();
            })
            .on('restart', function() {
                console.log('Server restarted');
                self.restarted = true;
                $.ticker.start('${_('A server restart is undergo&hellip;')}');
            });
    }
}
`)
  .addInitializer(`
$('.menu [data-tab]').tab({
    autoTabActivation: window.location.hash ? window.location.hash.substr(1) : true,
    onLoad(path, params, history) {
        window.location.hash = path;
    }
});
$.uiCon.init();
`) -%>