<div class="ui fluid card">
  <div class="content">
    <div class="item header"><i class="ui info circle icon"></i><%- _('General Information') %></div>
  </div>
  <div class="extra content">
      <div class="ui form">
        <div class="fields">
          <div class="six wide field"><%= _('Protocol:') %></div>
          <div class="ten wide field"><%= api.proto %></div>
        </div>
        <div class="fields">
          <div class="six wide field"><%= _('Mode:') %></div>
          <div class="ten wide field"><%= api.mode %></div>
        </div>
      </div>
  </div>
</div>
