<div class="ui fluid card">
  <div class="content">
    <div class="item header"><i class="ui info circle icon"></i><%- _('General Information') %></div>
  </div>
  <div class="extra content">
    <div class="ui form">
      <div class="ui two column stackable grid">
        <div class="column">
          <div class="fields">
            <div class="eight wide field"><label><%= _('Protocol:') %></label></div>
            <div class="eight wide field"><label><%= api.proto %></label></div>
          </div>
          <div class="fields">
            <div class="eight wide field"><label><%= _('Mode:') %></label></div>
            <div class="eight wide field"><label><%= api.mode %></label></div>
          </div>
        </div>
        <div class="column">
          <%_ Object.keys(api.counter).forEach(counter => { -%>
          <div class="fields">
            <div class="eight wide field"><label><%= _(api.counter[counter].label) %></label></div>
            <div class="eight wide field"><label data-counter="<%= counter %>"><%= _(api.counter[counter].value) %></label></div>
          </div>
          <%_ }) -%>
        </div>
      </div>
    </div>
  </div>
</div>
