<h3 class="ui header x-title"></h3>
<table class="ui selectable celled table">
  <thead>
    <tr>
      <th><%= _('#') %></th>
      <th><%= _('Id') %></th>
      <th><%= _('Type') %></th>
      <th><%= _('Name') %></th>
      <th><%= _('Status') %></th>
      <th><%= _('Result') %></th>
      <th><%= _('Time') %></th>
    </tr>
  </thead>
</table>
<%_ script.create('JQuery')
  .useDependencies('SemanticUI/Loader')
  .add(`
$.queue = $.loader($('div[data-tab="queue"] table'), {
    url: '${route('Ui', {name: 'queue', page: 'PAGE'})}',
    formatRow(item) {
        return this.toRow(item);
    },
    loaded(json) {
        const self = this;
        if (json.count !== undefined) {
            const counter = $('[data-tab="queue"] .label');
            if (json.count) {
                counter.text(json.count).removeClass('hidden');
            } else {
                counter.addClass('hidden');
            }
        }
        if (self.loading) {
            self.loading = false;
        }
    }
});
$.queue.toRow = function(data) {
    return $(
\`<tr><td>\${data.nr}</td>
    <td>\${$.toStr(data.id)}</td>
    <td>\${$.toStr(data.type)}</td>
    <td><div class="ui scrolling container queue-name">\${$.hidePayload($.toStr(data.name))}</div></td>
    <td>\${this.toStatus(data.status)}</td>
    <td><div class="ui scrolling container queue-result">\${$.hidePayload($.toStr(data.result))}</div></td>
    <td>\${$.toStr(data.time)}</td>
</tr>\`);
}
$.queue.toStatus = function(data) {
    const icon = {
        new: 'pause circle outline',
        processing: 'spinner',
        done: 'green check',
        error: 'red times',
        timeout: 'clock outline',
        skipped: 'exclamation',
    }[data];
    return icon ? \`<div data-tooltip="\${data}" data-position="right center"><i class="\${icon} icon"></i></div>\` :
        $.toStr(data);
}
$.queue.reload = function() {
    const self = this;
    if (!self.loading) {
        self.loading = true;
        self.load();
    }
}
`)
  .addInitializer(`
$.queue.load();
`) -%>
